
<hr>
<div class="row">
    <div class="col-md-12" style="text-align: center;" id="start-query-box">
        <button class="btn btn-md-5 btn-primary" onclick="show_results();">Run Query <i
                class="fa fa-angle-double-right"></i></button>
    </div>
</div>
<hr>
<div id="query-results" style="display: none;">
    <div class="row">
        <div class="col-md-12">
            <h4>Search Results</h4>
        </div>
        <div class="col-md-12">
            <p>&nbsp;</p>
            <div id="preview_query_results" style="overflow-x:scroll;">
                Query Results
            </div>
            <div id="preview_query_results_num" style="display:none;"></div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-6" id="show-div-buttons">
        </div>
        <div class="col-md-4" style="white-space: nowrap;">
            <button class="btn btn-md-5 btn-danger" onclick="print_results();"><i class="fa fa-print"></i> Print Query
                Results <i class="fa fa-angle-double-right"></i></button>
        </div>


    </div>
    <hr>
</div>

<script>
    function show_results() {

        send_to_query_builder();


    }
    function show_criteria() {
        document.getElementById('query-criteria').style.display = 'block';
        document.getElementById('query-results').style.display = 'none';
        document.getElementById('start-query-box').style.display = 'none';
        document.getElementById('update-query-box').style.display = 'block';

        //hide the buttons for opening criteria div
        document.getElementById('show-div-buttons').style.display = 'none';
    }
    function show_criteria_and_results() {
        document.getElementById('query-criteria').style.display = 'block';
        document.getElementById('query-results').style.display = 'block';
        document.getElementById('start-query-box').style.display = 'none';
        document.getElementById('update-query-box').style.display = 'block';

        //hide the buttons for opening criteria div
        document.getElementById('show-div-buttons').style.display = 'none';
    }

    function hide_criteria() {
        document.getElementById('query-criteria').style.display = 'none';
        document.getElementById('show_criteria_button').style.display = 'block';
        document.getElementById('query-results').style.display = 'block';

    }
    function print_results() {
        document.getElementById('query-criteria').style.display = 'none';
        var frame = document.getElementById('preview_query_results');
        var data = frame.innerHTML;
        var win = window.open('', '', 'height=500,width=900');
        win.document.write('<style>@page{size:landscape;}</style><html><head><title></title>');
        win.document.write('</head><body >');
        win.document.write(data);
        win.document.write('</body></html>');
        win.print();
        win.close();
        return true;

    }
    function print_num_results() {
        document.getElementById('query-criteria').style.display = 'none';
        var frame = document.getElementById('preview_query_results_num');
        var data = frame.innerHTML;
        var win = window.open('', '', 'height=500,width=900');
        win.document.write('<style>@page{size:portrait;}</style><html><head><title></title>');
        win.document.write('</head><body >');
        win.document.write(data);
        win.document.write('</body></html>');
        win.print();
        win.close();
        return true;

    }

    function show_results_update() {

        send_to_query_builder();

        //Hide the criteria
        document.getElementById('query-criteria').style.display = 'block';

        //Change the content of the query results
        document.getElementById('preview_query_results').innerHTML = data;

        //Show the query results
        document.getElementById('query-results').style.display = 'block';

        //hide the run query button
        document.getElementById('start-query-box').style.display = 'none';

        //hide the buttons for opening criteria div
        document.getElementById('show-div-buttons').style.display = 'none';

        //Show the update query button
        document.getElementById('update-query-box').style.display = 'block';
        document.getElementById('show_criteria_button').style.display = 'none';


    }

    function send_to_query_builder() {

        var query_tables = [];

        var required_fields = [];

        var joins = [];

        var conditions = [];

        // getting the list of tables
        $("input:checkbox[name=query_tables]:checked").each(function () {
            query_tables.push($(this).val());
        });

        // getting the required fields for display of results
        $("input:checkbox[name=tables_field]:checked").each(function () {
            var fieldname = $(this).val();
//            alert(fieldname);
            if (fieldname !== 'GROUPS.TYPE') {
                required_fields.push($(this).val());
            }
        });

//        if (contains.call(query_tables, 'LIVELIHOODGROUPCATEGORIES')) {
//            var join = [];
//            if (contains.call(query_tables, 'GROUPS')) {
//                join.push('LIVELIHOODGROUPCATEGORIES');
//                join.push('GROUPS.TYPE=LIVELIHOODGROUPCATEGORIES.ID');
//
//                joins.push(join);
//            }
//
//        }
//


//        Preparing the condition segment
        var group_name = '';
        var group_location = '';
        var group_registration = '';
        var group_id = '';
        var group_type = '';

        //MembershipConditions
        var membername_criterion = '';
        var membersex_criterion = '';
        var membertitle_criterion = '';
        var membervulnerability_criterion = '';
        var memberdateofbirth_criterion = '';
        var membergroup_criterion = '';
        var memberparish_criterion = '';
        var membervillage_criterion = '';
        var memberdateofjoining_criterion = '';
        var membertelephone_criterion = '';
        var membershipid_criterion = '';

        //Children Conditions
        var childname_criterion = '';
        var childsex_criterion = '';
        var childvulnerability_criterion = '';
        var chillddateofbirth_criterion = '';
        var childparish_criterion = '';
        var childvillage_criterion = '';
        var childdateofjoining_criterion = '';
        var childmother_criterion = '';
        var childfather_criterion = '';
        var childguardian_criterion = '';
        var childid_criterion = '';
//
        //Assessment 1 Conditions
        var assessment_1_county_criterion = '';
        var assessment_1_subcounty_criterion = '';
        var assessment_1_parish_criterion = '';
        var assessment_1_village_criterion = '';
        var assessment_1_healthcentre_criterion = '';
        var assessment_1_dateentered_criterion = '';
        var assessment_1_cbrname_criterion = '';
        var assessment_1_childid_criterion = '';
        var assessment_1_dateofbirth_criterion = '';
        var assessment_1_sex_criterion = '';
        var assessment_1_disabilitytype_criterion = '';
        var assessment_1_wherechildlives_criterion = '';
        var assessment_1_otherspecifiedplace_criterion = '';
        var assessment_1_otherdisabledchildren_criterion = '';
        var assessment_1_numberofotherdisabledchildren_criterion = '';
        var assessment_1_abletoprovidebasicneeds_criterion = '';
        var assessment_1_explanationforinabilitytoprovidebasicneeds_criterion = '';
        var assessment_1_disabilitydescription_criterion = '';
        var assessment_1_childusesmedicine_criterion = '';
        var assessment_1_nameofmedicine_criterion = '';
        var assessment_1_childhasfits_criterion = '';
        var assessment_1_numberoffits_criterion = '';
        var assessment_1_limbsmovewell_criterion = '';
        var assessment_1_limbsthatmovewell_criterion = '';
        var assessment_1_childusesaids_criterion = '';
        var assessment_1_typeofaidsused_criterion = '';
        var assessment_1_childtalks_criterion = '';
        var assessment_1_childsees_criterion = '';
        var assessment_1_mentalcapacity_criterion = '';
        var assessment_1_eatsandddrinks_criterion = '';
        var assessment_1_washesanddresses_criterion = '';
        var assessment_1_toiletactivities_criterion = '';
        var assessment_1_howchildmoves_criterion = '';
        var assessment_1_childplayswithothers_criterion = '';
        var assessment_1_helpsinhouseholdcores_criterion = '';
        var assessment_1_acceptedbyfamilyandloved_criterion = '';
        var assessment_1_acceptedbycommunity_criterion = '';
        var assessment_1_goestoschool_criterion = '';
        var assessment_1_school_criterion = '';
        var assessment_1_comment_criterion = '';
//
        //Assessment 2 Conditions
        var assessment_2_child_criterion = '';
        var assessment_2_dateoffirstscreening_criterion = '';
        var assessment_2_identifiedby_criterion = '';
        var assessment_2_assessedby_criterion = '';
        var assessment_2_distance_criterion = '';
        var assessment_2_nearesthealthcentre_criterion = '';
        var assessment_2_venueforscreening_criterion = '';
        var assessment_2_medicalhistory_criterion = '';
        var assessment_2_findings_criterion = '';
        var assessment_2_disability_criterion = '';
        var assessment_2_recommendation_criterion = '';
        var assessment_2_screenedby_criterion = '';
        var assessment_2_dateentered_criterion = '';
        var assessment_2_title_criterion = '';
//
        //Visitation Conditions
        var visitation_dateofvisit_criterion = '';
        var visitation_kindofvisit_criterion = '';
        var visitation_childidvisited_criterion = '';
        var children_project_criterion = '';
        var visitation_village_criterion = '';
        var visitation_parish_criterion = '';
        var visitation_subcounty_criterion = '';
        var visitation_activitycarriedout_criterion = '';
        var visitation_nextvisitactivity_criterion = '';
        var visitation_wacfostaff_criterion = '';
        var visitation_comment_criterion = '';
        var visitation_nextvisitdate_criterion = '';
//
        //Department Conditions
        var department_name_criterion = '';
        var department_prefix_criterion = '';

        //Staff Conditions
        var staff_name_criterion = '';
        var staff_role_criterion = '';
        var staff_department_criterion = '';
        var staff_emailaddress_criterion = '';
        var staff_telephone_criterion = '';
        var staff_staffid_criterion = '';
//
        //Courses Conditions
        var courses_criterion = '';
        var topics_criterion = '';

        //Training Conditions
        var training_dateoftraining_criterion = '';
        var training_course_criterion = '';
        var training_topic_criterion = '';
        var training_objective_criterion = '';
        var training_venue_criterion = '';
        var training_groupintended_criterion = '';
        var training_conductedby_criterion = '';
        var training_isstaff_criterion = '';
//
        //Training Attendance Conditions
        var training_attendance_attendant_criterion = '';
        var training_attendance_type_criterion = '';
        var training_attendance_address_criterion = '';
        var training_attendance_contact_criterion = '';
//
//        //Training Outcome
        var training_outcome_outcome_criterion = '';
//
        //Monitoring Conditions
        var monitoring_staffid_criterion = '';
        var monitoring_dateofvisit_criterion = '';
        var monitoring_visittype_criterion = '';
        var monitoring_generalcomments_criterion = '';
        var monitoring_trackid_criterion = '';

        //Misean Cara Baseline Survey Conditions
        var misean_cara_grantee_criterion = '';
        var misean_cara_groupid_criterion = '';
        var misean_cara_district_criterion = '';
        var misean_cara_county_criterion = '';
        var misean_cara_subcounty_criterion = '';
        var misean_cara_pwd_criterion = '';
        var misean_cara_chh_criterion = '';
        var misean_cara_orphans_criterion = '';
        var misean_cara_hiv_criterion = '';
        var misean_cara_pwdinschool_criterion = '';
        var misean_cara_chhinschool_criterion = '';
        var misean_cara_orphansinschool_criterion = '';
        var misean_cara_childrenwithhiv_criterion = '';
        var misean_cara_normalinschool_criterion = '';
        var misean_cara_mealsperday_criterion = '';
        var misean_cara_medicaltreatment_criterion = '';

        //Crop Production Criteria
        var production_individual_criterion = '';
        var production_foodstuff_criterion = '';
        var production_category_criterion = '';
        var production_acresplanted_criterion = '';
        var production_yieldobtained_criterion = '';
        var production_quantitysold_criterion = '';
        var production_income_criterion = '';

        //Fish Production Criteria
        var fishing_individual_id_criterion = '';
        var fishing_size_of_pond_criterion = '';
        var fishing_number_of_fish_criterion = '';
        var fishing_quantity_criterion = '';
        var fishing_income_criterion = '';

        //Misean Cara Technology Criteria
        var misean_cara_technology_individual_id_criterion = '';
        var misean_cara_technology_imprived_seeds_criterion = '';
        var misean_cara_technology_underground_water_criterion = '';
        var misean_cara_technology_pesticide_criterion = '';
        var misean_cara_technology_farm_implements_criterion = '';
        var misean_cara_technology_improved_post_harvest_handling_criterion = '';
        var misean_cara_technology_row_planting_criterion = '';
        var misean_cara_technology_other_techniques_criterion = '';

        // Marketing Criteria
        var marketing_individual_id_criterion = '';
        var marketing_sells_all_vegetables_criterion = '';
        var marketing_vegetable_market_place_criterion = '';
        var marketing_sells_all_crops_criterion = '';
        var marketing_crop_place_criterion = '';

        //Challenges Criteria
        var challenges_group_id_criterion = '';
        var challenges_vegetable_production_problems_criterion = '';
        var challenges_vegetable_marketing_problems_criterion = '';
        var challenges_crop_production_problems_criterion = '';
        var challenges_crop_marketing_problems_criterion = '';

        //Pilot Studies Criteria
        var pilot_studies_interviewer_criterion = '';
        var pilot_studies_date_of_interview_criterion = '';
        var pilot_studies_location_criterion = '';
        var pilot_studies_respondent_criterion = '';
        var pilot_studies_head_of_household_criterion = '';
        var pilot_studies_females_under_5_criterion = '';
        var pilot_studies_females_between_6_and_18_criterion = '';
        var pilot_studies_males_under_5_criterion = '';
        var pilot_studies_males_between_6_and_18_criterion = '';
        var pilot_studies_males_between_18_and_45_criterion = '';
        var pilot_studies_females_between_18_and_45_criterion = '';
        var pilot_studies_length_of_time_involed_in_projects_criterion = '';
        var pilot_studies_daily_household_income_now_criterion = '';
        var pilot_studies_daily_household_income_one_year_ago_criterion = '';
        var pilot_studies_number_of_sources_of_income_now_criterion = '';
        var pilot_studies_sources_of_income_now_criterion = '';
        var pilot_studies_number_of_sources_of_income_one_year_ago_criterion = '';
        var pilot_studies_income_now_additional_notes_criterion = '';
        var pilot_studies_sources_of_income_1_year_ago_criterion = '';
        var pilot_studies_income_one_year_ago_additional_notes_criterion = '';
        var pilot_studies_increase_in_diversity_of_sources_of_income_criterion = '';
        var pilot_studies_medical_expense_criterion = '';
        var pilot_studies_education_expense_criterion = '';
        var pilot_studies_house_expense_criterion = '';
        var pilot_studies_clothes_expense_criterion = '';
        var pilot_studies_food_expense_criterion = '';
        var pilot_studies_household_assets_criterion = '';
        var pilot_studies_other_expenses_criterion = '';
        var pilot_studies_increase_in_household_assets_criterion = '';
        var pilot_studies_land_increase_criterion = '';
        var pilot_studies_land_size_criterion = '';
        var pilot_studies_permanent_house_criterion = '';
        var pilot_studies_semi_permanent_house_criterion = '';
        var pilot_studies_mud_house_criterion = '';
        var pilot_studies_radio_or_tv_criterion = '';
        var pilot_studies_mobile_phone__criterion = '';
        var pilot_studies_automobile_criterion = '';
        var pilot_studies_breakfast_yesterday_criterion = '';
        var pilot_studies_snack_for_breakfast_yesterday_criterion = '';
        var pilot_studies_lunch_yesterday_criterion = '';
        var pilot_studies_snack_for_lunch_yesterday_criterion = '';
        var pilot_studies_dinner_yesterday_criterion = '';
        var pilot_studies_snack_for_dinner_yesterday_criterion = '';
        var pilot_studies_breakfast_1_year_ago_criterion = '';
        var pilot_studies_snack_for_breakfast_1_year_ago_criterion = '';
        var pilot_studies_lunch_1_year_ago_criterion = '';
        var pilot_studies_snack_for_luch_1_year_ago_criterion = '';
        var pilot_studies_dinner_1_year_ago_criterion = '';
        var pilot_studies_snack_for_dinner_1_year_ago_criterion = '';
        var pilot_studies_cereals_yesterday_criterion = '';
        var pilot_studies_cereals_1_year_ago_criterion = '';
        var pilot_studies_vitamin_a_vegetable_yesterday_criterion = '';
        var pilot_studies_vitamin_a_vegetable_1_year_ago_criterion = '';
        var pilot_studies_white_tubers_yesterday_criterion = '';
        var pilot_studies_white_tubers_1_year_ago_criterion = '';
        var pilot_studies_dark_green_leafy_vegetables_yesterday_criterion = '';
        var pilot_studies_dark_green_leafy_vegetables_1_year_ago_criterion = '';
        var pilot_studies_other_vegetables_yesterday_criterion = '';
        var pilot_studies_other_vegetables_1_year_ago_criterion = '';
        var pilot_studies_vitamin_a_fruits_yesterday_criterion = '';
        var pilot_studies_vitamin_a_fruits_1_year_ago_criterion = '';
        var pilot_studies_other_fruits_yesterday_criterion = '';
        var pilot_studies_other_fruits_year_ago_criterion = '';
        var pilot_studies_organ_meat_yesterday_criterion = '';
        var pilot_studies_organ_meat_1_year_ago_criterion = '';
        var pilot_studies_flesh_meats_yesterday_criterion = '';
        var pilot_studies_flesh_meats_1_year_ago_criterion = '';
        var pilot_studies_eggs_yesterday_criterion = '';
        var pilot_studies_eggs_1_year_ago_criterion = '';
        var pilot_studies_fish_yesterday_criterion = '';
        var pilot_studies_fish_1_year_ago_criterion = '';
        var pilot_studies_legumes_yesterday_criterion = '';
        var pilot_studies_legumes_1_year_ago_criterion = '';
        var pilot_studies_milk_yesterday_criterion = '';
        var pilot_studies_milk_1_year_ago_criterion = '';
        var pilot_studies_oils_and_fats_yesterday_criterion = '';
        var pilot_studies_oils_and_fats_1_year_ago_criterion = '';
        var pilot_studies_red_palm_yesterday_criterion = '';
        var pilot_studies_1_year_ago_criterion = '';
        var pilot_studies_sweets_yesterday_criterion = '';
        var pilot_studies_sweets_1_year_ago_criterion = '';
        var pilot_studies_spices_yesterday_criterion = '';
        var pilot_studies_spices_1_year_ago_criterion = '';
        var pilot_studies_dish_rack_criterion = '';
        var pilot_studies_compost_pit_criterion = '';
        var pilot_studies_cloth_drying_line_criterion = '';
        var pilot_studies_latrine_criterion = '';
        var pilot_studies_tippy_tap_criterion = '';
        var pilot_studies_boils_water_criterion = '';
        var pilot_studies_improved_living_standard_criterion = '';
        var pilot_studies_significant_story_criterion = '';
        var pilot_studies_reason_for_low_living_standard_criterion = '';
        var pilot_studies_improved_diet_criterion = '';
        var pilot_studies_improved_knowledge_of_nutrition_criterion = '';
        var pilot_studies_increased_household_asset_base_criterion = '';
        var pilot_studies_reduced_post_harvest_loss_due_to_improved_storage_criterion = '';
        var pilot_studies_conclusion_criterion = '';
        var pilot_studies_recommendation_criterion = '';

        // Porticus Baseline Survey Criteria
        var porticus_name_of_respondent_criterion = '';
        var porticus_age_of_respondent_criterion = '';
        var porticus_village_criterion = '';
        var porticus_gender_of_resspondent_criterion = '';
        var porticus_name_of_vulnerable_criterion = '';
        var porticus_gender_of_vulnerable_criterion = '';
        var porticus_age_of_vulnerable_criterion = '';
        var porticus_category_of_disability_criterion = '';
        var porticus_name_of_disability_criterion = '';
        var porticus_marital_status_criterion = '';
        var porticus_level_of_education_criterion = '';
        var porticus_occupation_criterion = '';
        var porticus_household_monthly_income_criterion = '';
        var porticus_definition_of_disability_criterion = '';
        var porticus_list_of_disabilities_criterion = '';
        var porticus_causes_of_disabilities_known_criterion = '';
        var porticus_ways_of_prevention_criterion = '';
        var porticus_feeling_of_having_a_vulnerable_criterion = '';
        var porticus_feeling_of_the_community_criterion = '';
        var porticus_vulnerable_supported_criterion = '';
        var porticus_support_given_criterion = '';
        var porticus_why_not_supported_criterion = '';
        var porticus_rehabilitation_received_criterion = '';
        var porticus_place_of_rehabilitation_criterion = '';
        var porticus_kind_of_treatment_received_criterion = '';
        var porticus_cost_of_treatment_criterion = '';
        var porticus_duration_of_the_treatment_criterion = '';
        var porticus_frequency_of_attendance_criterion = '';
        var porticus_regular_attendance_criterion = '';
        var porticus_reason_for_not_attending_daily_criterion = '';
        var porticus_quality_of_service_criterion = '';
        var porticus_training_recieved_criterion = '';
        var porticus_name_of_trainer_criterion = '';
        var porticus_training_was_about_criterion = '';
        var porticus_help_of_the_training_criterion = '';
        var porticus_challenges_faced_in_caring__criterion = '';
        var porticus_strengths_of_the_vulnerable_criterion = '';
        var porticus_weaknesses_of_the_vulnerable_criterion = '';
        var porticus_hope_for_the_vulnerable_criterion = '';
        var porticus_organization_help_needed_criterion = '';

        // Marketing Criteria
        var hygiene_membership_id_criterion = '';
        var hygiene_sex_criterion = '';
        var hygiene_group_name_criterion = '';
        var hygiene_district_criterion = '';
        var hygiene_subcounty_criterion = '';
        var hygiene_parish_criterion = '';
        var hygiene_pit_latrine_criterion = '';
        var hygiene_rubbish_pit_criterion = '';
        var hygiene_bathing_shelter_criterion = '';
        var hygiene_tippy_tap_criterion = '';
        var hygiene_plate_drying_rack_criterion = '';
        var hygiene_kitchen_garden_criterion = '';
        var hygiene_fruit_trees_criterion = '';
        var hygiene_nrm_practices_criterion = '';
        var hygiene_maize_crib_criterion = '';
        var hygiene_drying_rack_criterion = '';
        var hygiene_tapaulin_criterion = '';
        var hygiene_granary_criterion = '';
        var hygiene_papyrus_mat_criterion = '';
        var hygiene_earth_floor_criterion = '';
        var hygiene_date_checked_criterion = '';
        var hygiene_staff_criterion = '';
        var hygiene_date_recorded_criterion = '';

